@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.chat-block {
  width: calc(100% - 350px);
  min-width: 320px;
  overflow: hidden;

  @include on-tablet {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all .5s;

    &__display {
      transform: translateX(0);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    height: 120px;
    background-color: $info-bg;
    padding-inline: 35px;
    overflow: hidden;

    @include on-mobile {
      height: 120px;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
    }

    &--title {
      font-family: $font-family;
      color: $white-color;
      line-height: 100%;
      width: 100%;
      font-size: 35px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include on-mobile {
        text-align: center;
      }
    }

    &--form {
      width: 100%;
      margin: 0;
    }

    &--buttons {
      display: flex;
      gap: 25px;
      translate: 200% 0;
      transition: all .3s;

      @include on-mobile {
        translate: 0;
      }
    }

    &--display {
      translate: 0;
    }
  }

  &__chat {
    position: relative;
    background: rgb(32, 157, 206);
    height: 100%;

    @include on-mobile {
      height: calc(100% - 20px);
    }

    &--messages {
      width: 100%;
      height: calc(100% - 180px);
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      overflow-y: auto;
      background-color: inherit;

      @include on-mobile {
        height: calc(100% - 160px);
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    height: 60px;
    padding-inline: 35px 0;
    background-color: $info-bg;
    translate: 0 100%;
    transition: all .3s;

    @include on-tablet {
      translate: 0;
    }

    &--display {
      translate: 0;
    }
  }
}