.messages {
  display: flex;
  flex-direction: column-reverse;
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
}

.input {
  display: flex;
  gap: 24px;
}

.inputs {
  display: flex;
  gap: 24px;
}

.room {
  display: flex;
  gap: 8px;
}

.roomsList {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.roomName {
  margin: 0;
  margin-right: 16px;
}