.chat {
  &__inputGroup {
    display: flex;
    gap: 10px;
    margin-block: 20px;
  }
}

.modal__title {
  margin: 0;
  font-size: 20px;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}