$c-red: #FF0600;
$c-green: #27EC16;
$c-black: #333333;
$c-extra-black: #121212;
$c-gray: #252828;
$c-link: #69C9FD;

$font-main: 'Noto Sans Display', 'Zen Maru Gothic', sans-serif;

$main-border-radius: 22px;
$regular-control-height: 60px;
$search-results-block-height: 140px;
$header-height: 120px;
$footer-height: 120px;

$subtraction-for-chat: 200px;
$subtraction-for-chat-container: 180px;

