* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-layout {
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #6b6375;
  background-color: #16171d;
}

.main {
  display: flex;
  height: calc(100vh - 45px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 45px;
  padding-left: 15px;
  border-bottom: 1px solid #36313b;

  background-color: #222329;

  &-left-data {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }

  .title {
    font-weight: 700;
  }

  .user-photo {
    width: 30px;
    padding-top: 2px;
    border-radius: 50%;
  }

  .add-chat {
    padding-bottom: 8px;
    font-size: 35px;
    font-weight: bold;
  }

  .logout-button {
    padding-top: 5px;
    border: none;
    color: #6b6375;
    background-color: #222329;
  }
}

// Загальні стилі повідомлень та скролбару мають бути ВИЩЕ за вкладені
.chat-message {
  flex-shrink: 0;
  gap: 10px;

  width: fit-content;
  max-width: 75%;
  margin: 10px;
  padding: 8px 14px;
  border-radius: 20px;
}

.chats-block {
  overflow-y: auto;
  width: 35%;
  padding-top: 10px;
  border-right: 1px solid #222329;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #36313b;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #6b6375;
  }

  .chat-block {
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .chat-photo {
        width: 60px;
        border-radius: 50%;
      }
    }

    &-left-data {
      display: flex;
      gap: 10px;
      align-items: center;

      .chat-name {
        font-weight: 700;
      }

      .chat-message {
        font-weight: 300;
      }
    }

    &-right-data {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;

      .message-time {
        font-size: 15px;
      }

      .message-count {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        height: 25px;
        border-radius: 100%;

        color: #16171d;

        background-color: #6b6375;
      }
    }
  }
}

.active {
  background-color: #252327;
}

.open-chat {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;

  height: calc(100vh - 45px);

  .chat-header {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    align-items: center;

    width: 100%;
    height: 45px;
    padding: 0 20px;

    background-color: #222329;

    .header-chat-name {
      font-weight: 700;
    }

    .chat-photo {
      width: 30px;
      border-radius: 50%;
    }
  }

  .messages-block {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    padding: 10px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #36313b;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #6b6375;
    }
  }

  .chat-message {
    &.received {
      align-self: flex-start;
      border-bottom-left-radius: 4px;
      background-color: #222329;

      .text-info-message {
        display: flex;
        align-items: center;
        word-break: break-word;

        .user-name {
          margin-bottom: 2px;
          font-weight: 700;
        }

        .user-message {
          margin-bottom: 2px;
          font-weight: 300;
        }
      }
    }

    &.sent {
      align-self: flex-end;

      border-bottom-right-radius: 4px;

      color: #222329;
      text-align: right;

      background-color: #6b6375;

      .text-info-message {
        display: flex;
        align-items: center;

        .user-name {
          margin-bottom: 2px;
          font-weight: 700;
        }

        .user-message {
          margin-bottom: 2px;
          font-weight: 400;
        }
      }
    }

    .message-time {
      margin-top: 3px;
      margin-left: 5px;
      font-size: 0.7rem;
      opacity: 0.7;
    }
  }

  .send-message {
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;

    padding: 10px;

    &-field {
      width: 85%;
      max-width: 700px;
      height: 40px;
      margin: 10px 0;
      padding: 10px;
      border: none;
      border-radius: 20px;

      color: #6b6375;

      background-color: #222329;

      &:focus {
        outline: none;
      }
    }
  }
}

button {
  padding-right: 0;
  border: none;

  font-size: 18px;
  color: #6b6375;

  background-color: transparent;
}
