@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --wheat-color: #F5DEB3;
  --dark-blue-color: #00008B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* #region Chat Page */

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.current-user {
  color: var(--wheat-color)
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-messages .message.own {
  text-align: end;
  align-self: end;
  background-color: powderblue;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* #endregion */

/* #region Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
  transition: background 0.3s;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

.form-control__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* #endregion */

/* #region Room List Styles */
.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 0;
  margin: 20px 0;
}

.room-item {
  background: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 15px;
  transition: border-color 0.3s;
  cursor: pointer;
  opacity: 0.6;
}

.room-item:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);
}

.room-item label {
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
  flex-grow: 1;
}

.room-item.selected {
  box-shadow: 2px 2px 4px 6px rgba(87, 89, 195, 0.5);
  opacity: 1;
  background-color: var(--wheat-color);
}

.room-item.edit .buttons {
  display: flex;
}

/* input[type='radio']:checked + label {
  box-shadow: 0px 0px 8px 8px var(--dark-color-a);
  background: rgba(102, 122, 255, 0.1);
} */

.buttons {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.delete-btn,
.edit-btn,
.rename-btn,
.create-btn {
  background: var(--dark-color-a);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.create-btn,
.edit-btn {
  background-color: var(--wheat-color);
  color: var(--dark-blue-color);
  font-style: italic;
}

.delete-btn:hover,
.rename-btn:hover {
  background: var(--dark-color-b);
}

.btn,
.delete-btn:active,
.edit-btn:active,
.rename-btn:active,
.create-btn:active {
  transform: scale(0.98);
}

/* #endregion */

.no-rooms-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
