@import '../../styles/vars.scss';

.room {
  display: flex;
  align-items: center;
  background-color: $white-color;
  gap: 20px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  opacity: 1;
  transition: all .7s;
  transform: none;

  &__selected {
    background-color: $green-search-color-on;
  }

  &__no-display {
    transition: all .5s;
    opacity: 0;
    transform: translateY(330px);
  }

  &__name {
    font-family: $font-family;
    color: $black-color;
    line-height: 100%;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}