.header {
  border-bottom: 1px solid #eaeaea;

  .is-size-5 {
    color: #363636;
    font-weight: bold;
  }

  .button {
    font-weight: bold;
    margin-right: 0.5rem;

    &.is-primary {
      background-color: #00d1b2;

      &:hover {
        background-color: #00b89c;
      }
    }
  }
}
