.message-input {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  .input {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    padding: 0.75rem;
  }

  .button {
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    &.is-primary {
      background-color: #3273dc;
      color: white;

      &:hover {
        background-color: #225d9c;
      }
    }

    &.is-warning {
      background-color: #ffdd57;
      color: black;

      &:hover {
        background-color: #e4c047;
      }
    }
  }
}
