.message-form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 15px;
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 15px 20px;
}

.message-form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-form__input {
  padding: 5px 15px;
  height: 100%;
  border: 1px solid darkcyan;
  border-radius: 5px;
}

