@import "../../helpers/styles/mixins";

.SendMessage {
  height: 40px;

  display: flex;
  gap: 20px;

  &__input {
    @include input($secondary-bg-color);

    flex-grow: 1;
  }

  &__button {
    @include button($secondary-bg-color);
  }
}
