.message {
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  background-color: #d8c5c5;
  margin-bottom: 5px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
}
