// @import '~bulma/bulma';

.container {
  padding-block: 40px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__messages {
    &--list {
      li {
        padding-block: 5px;
      }
    }
  }

  &__rooms {
    &--list {
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 5px;
      }
    }
  }
}
