@import "../../utils/mixins";
@import "../../utils/vars";

.client-chat {
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 4px;
  background-color: #fcfcfc;

  @include onDesktop {
    padding: 10px;
  }

  &__header {
    box-sizing: border-box;
    border-bottom: 1px solid $c-red;

    text-align: left;
    @include font;
    font-weight: bold;
    font-size: 15px;

    &--unauth {
      font-size: 18px;
      padding: 0;
    }
  }

  &__container {
    height: 100%;
    overflow-y: scroll;
  }

  &--unauth {
    border-radius: 22px;
    position: relative;

    @include onDesktop {
      padding: 44px 20px 30px;
    }
  }
}

.decorative-line {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 60px;
  width: 70px;
  height: 3px;
  background-color: #d9d9d9;
}
