.messageList {
  &__list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: calc(100vh - 140px);
    box-sizing: border-box;

    &--form {
      display: flex;
      gap: 15px;
      padding: 15px;
      border-top: 1px solid #ccc;
      height: 70px;
      box-sizing: border-box;
    }

    &--input {
      border: none;
      background-color: #e3e4e6;
      border-radius: 5px;

      width: calc(100% - 215px);
      height: 40px;
      box-sizing: border-box;
      padding-left: 15px;
    }

    &--button {
      border: none;
      background-color: #358fdf;
      border-radius: 5px;
  
      color: white;
  
      height: 40px;
      width: 200px;
  
      &:hover {
        background-color: #e67e22;
        cursor: pointer;
      }
    }
  }
}