.MessageList {
  &__container {
    max-height: 100% !important;
  }

  &__item {
    width: 50%;
    animation: smooze-appear 0.5s;
  }
}

@keyframes smooze-appear {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}