.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-lg);
  height: var(--header-height);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-card);
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.logoTitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-main);
}

.iconContainer {
  width: 36px;
  height: 36px;
  background-color: var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--color-bg-card);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.userStatus {
  color: var(--success);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
}

.userCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--success);
  animation: pulse 2s linear infinite alternate;
}

.buttonContainer {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--error-light);

    .logOutIcon {
      color: var(--error-hover);
    }
  }
}

.logOutIcon {
  color: var(--text-muted);
  transition: color 0.2s ease;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
