@use '../../utils/scss/variables.scss' as var;

.modal {
  width: min-content;
  height: min-content;

  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 50px;
  background-color: var.$secondary-color;
  border-radius: 30px;

  &__title {
    margin: 0;
  }
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;

  &__input {
    height: 44px;
    border-radius: 10px;
  }

  &__button {
    height: 50px;
    border-radius: 10px;
  }
}
