.registerPage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  place-items: center;

  background-color: #e9e9e9;

  &__block {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    transform: translateY(-50%);

    width: 30%;
    height: 30%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__inputBlock {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__userIcon,
  &__passIcon {
    width: 15px;
    height: 15px;
  }
  

  &__input {
    height: 30px;
    width: 200px;
    border: none;

    font-size: 16px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  } 

  &__button {
    height: 40px;
    width: 220px;
    background-color: #358ee0;
    border: none;
    border-radius: 5px;

    font-size: 17px;
    font-weight: bold;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &__select {
    color: #9398aa;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}