$font-family: 'Yanone Kaffeesatz', sans-serif;
$page-max-width: 320px;
$tablet-max-width: 889px;
$mobile-max-width: 499px;
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #3566eb;
$blue-color-dark: #2a52be;
$red-color-off: #fa646499;
$red-color-on: #fa6464;
$green-add-color-off: #15e720cc;
$green-add-color-on: #15e720;
$green-search-color-off: #08d912;
$green-search-color-on: #00ff00;
$login-btn-off: #21d82a;
$login-btn-of: #00ff0d;
$login-title: #0b1270;
$login-bg: #0000008e;
$username-color: #00ff37;
$orange-color-off: #ff910099;
$orange-color-on: #ff9100;
$blue-night-color-off: #265f9799;
$blue-night-color-on: #163d64cc;
$blue-light-color-off: #00d9ffda;
$blue-light-color-on: #00f7ff;
$input-placehplder-1: #ffffffbe;
$input-placehplder-2: #ffffff8e;
$input-placehplder-3: #ffffffa1;
$input-box-shadow: #a9aafa;
$input-login-bg: #0b3eca73;
$info-bg: #8394c0;
$modale-chat: #555d64;
$modale-chat-bg: #ffffff34;